.page {
  background-color: rgba(37, 46, 60, 1);
  position: relative;
  width: 375px;
  height: 1181px;
  overflow: hidden;
}

.group_31 {
}

.block_29 {
  position: relative;
  margin-bottom: 716px;
  padding: 16px 16px 21px 20px;
}

.box_38 {
  margin: 0 6px 0 8px;
}

.text_1 {
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: -0.2800000011920929px;
  text-transform: lowercase;
  font-family: Helvetica, 'Microsoft YaHei', Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
}

.thumbnail_1 {
  width: 17px;
  height: 11px;
  margin: 2px 0 3px 238px;
}

.thumbnail_2 {
  width: 15px;
  height: 11px;
  margin: 1px 0 4px 5px;
}

.image_1 {
  width: 24px;
  height: 11px;
  margin: 1px 0 4px 5px;
}

.box_39 {
  width: 339px;
  margin-top: 24px;
}

.image-text_61 {
  width: 174px;
}

.label_1 {
  width: 25px;
  height: 34px;
  margin-top: 2px;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.label_2 {
  width: 24px;
  height: 24px;
  margin-bottom: 12px;
}

.box_4 {
  border-radius: 10px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/d611d85161d54ba88519368c40be2332_mergeImage.png);
  width: 335px;
  height: 160px;
  margin: 20px 4px 0 0;
}

.box_40 {
  width: 335px;
  margin: 20px 4px 0 0;
}

.section_14 {
}

.image_15 {
  width: 156px;
  height: 80px;
  margin-left: 5px;
}

.box_34 {
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPnga2dbaa9dc25f4dc0b8f61a81eb33ce51c96c18d475a4b70002dd5f5a529009f8)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 12px;
  padding: 10px 28px 8px 19px;
}

.image-text_62 {
  width: 114px;
}

.label_17 {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

.text-group_77 {
}

.text_43 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-right: 2px;
}

.text_44 {
  overflow-wrap: break-word;
  color: rgba(134, 134, 134, 1);
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin-top: 5px;
}

.section_15 {
}

.box_35 {
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPnge0b3a0d98b79d507c2711caf38d265656fc70dff990fe5bc0ddeee34e5decc50)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 10px 28px 8px 14px;
}

.image-text_63 {
  width: 120px;
}

.label_18 {
  width: 46px;
  height: 40px;
  margin-bottom: 2px;
}

.text-group_78 {
}

.text_45 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-right: 3px;
}

.text_46 {
  overflow-wrap: break-word;
  color: rgba(134, 134, 134, 1);
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin-top: 5px;
}

.box_36 {
  width: 162px;
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPngbac579b8ab09511150404bd2446faaf3b8f8c3b2368ee94357ec078a478a9dc5)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 12px;
  padding: 3px 20px 2px 0;
}

.image_16 {
  width: 75px;
  height: 75px;
}

.text-group_79 {
  margin: 17px 0 16px 0;
}

.text_47 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-right: 11px;
}

.text_48 {
  overflow-wrap: break-word;
  color: rgba(134, 134, 134, 1);
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin-top: 5px;
}

.box_37 {
  position: absolute;
  left: 20px;
  top: 292px;
  width: 161px;
  height: 80px;
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPngc7e3aa598d2477c66e7af8b0a9cf85f9b1426e724b6a859092dd97a25dd1f97b)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 3px 18px 2px 0;
}

.image_17 {
  width: 75px;
  height: 75px;
}

.text-group_80 {
  margin: 18px 0 18px 0;
}

.text_49 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-right: 12px;
}

.text_50 {
  overflow-wrap: break-word;
  color: rgba(134, 134, 134, 1);
  font-size: 10px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 5px;
}

.box_11 {
  position: relative;
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPngf5b1e7abef8bc4f9272402dfa8fce4e8d4146e79a360dee9a7291cf7431c0594)
    100% no-repeat;
  background-size: 100% 100%;
  padding-top: 21px;
  margin: 464px 0 0 -375px;
}

.image-text_64 {
  width: 309px;
  margin: 0 46px 0 20px;
}

.label_5 {
  width: 24px;
  height: 24px;
}

.text-group_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.box_41 {
  width: 355px;
  margin: 16px 0 0 20px;
}

.box_20 {
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPngff4eef26a8b0012b294f2a57377e62b01c940e04fe6b251d88d728dfc024058a)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 18px 16px 11px 14px;
}

.image-text_65 {
  width: 131px;
  margin-right: 51px;
}

.label_12 {
  width: 36px;
  height: 36px;
}

.text-group_81 {
  margin-top: 2px;
}

.text_36 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_35 {
  overflow-wrap: break-word;
  color: rgba(160, 174, 192, 1);
  font-size: 10px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-right: 51px;
}

.image-text_66 {
  width: 180px;
  margin: 22px 0 0 2px;
}

.text-group_82 {
  margin-top: 8px;
}

.text_38 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_37 {
  overflow-wrap: break-word;
  color: rgba(255, 107, 107, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 33px 0 0;
}

.image_12 {
  width: 84px;
  height: 43px;
  margin-bottom: 6px;
}

.box_23 {
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPngcb1638ef99daa0d7095f29d9c936962acbcbc7f79ea85185d0636b3164f349dd)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16px 3px 14px 14px;
}

.image-text_67 {
  width: 110px;
}

.group_13 {
  border-radius: 1000px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/386e4665668a4efba811c2fb65fb79f6_mergeImage.png);
  width: 35px;
  height: 35px;
}

.text-group_83 {
  margin-top: 1px;
}

.text_40 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_39 {
  overflow-wrap: break-word;
  color: rgba(160, 174, 192, 1);
  font-size: 10px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-right: 19px;
}

.text-group_84 {
  margin: 33px 42px 0 2px;
}

.text_41 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_42 {
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 212, 157, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-family: Helvetica, 'Microsoft YaHei', Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
  margin: 4px 23px 0 0;
}

.box_42 {
  width: 333px;
  margin: 20px 22px 0 20px;
}

.text_11 {
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
}

.label_11 {
  width: 22px;
  height: 22px;
}

.box_43 {
  width: 334px;
  margin: 20px 21px 0 20px;
}

.image-text_68 {
  width: 127px;
}

.box_12 {
  border-radius: 1000px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/853c31dee5f94c7abbdfa5e09a75f372_mergeImage.png);
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

.text-group_85 {
  margin-top: 1px;
}

.text_12 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(160, 174, 192, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 34px 0 0;
}

.image-text_69 {
  width: 173px;
  margin: 1px 0 2px 0;
}

.image_5 {
  width: 71px;
  height: 25px;
  margin: 6px 0 8px 0;
}

.text-group_86 {
}

.text-group_6 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 19px;
  margin-right: 1px;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(51, 212, 157, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-family: Helvetica, 'Microsoft YaHei', Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
  margin: 4px 0 0 35px;
}

.box_44 {
  margin: 22px 21px 0 20px;
}

.image-text_70 {
  width: 126px;
}

.box_13 {
  border-radius: 1000px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/595e813b26964b78b28c14eca6f1cca1_mergeImage.png);
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

.text-group_87 {
  margin-top: 1px;
}

.text_15 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(160, 174, 192, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 19px 0 0;
}

.image_6 {
  width: 71px;
  height: 23px;
  margin: 9px 0 10px 28px;
}

.text-group_88 {
  margin: 1px 0 0 53px;
}

.text_17 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-family: Helvetica, 'Microsoft YaHei', Arial, sans-serif;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 19px;
  margin-right: 1px;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(51, 212, 157, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 9px;
}

.box_45 {
  margin: 22px 22px 0 20px;
}

.image-text_71 {
  width: 121px;
}

.image-wrapper_2 {
  background-color: rgba(26, 32, 44, 1);
  border-radius: 1000px;
  margin-bottom: 2px;
}

.label_6 {
  width: 40px;
  height: 40px;
}

.text-group_89 {
  margin-top: 1px;
}

.text_20 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(160, 174, 192, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 24px 0 0;
}

.image_7 {
  width: 71px;
  height: 25px;
  margin: 7px 0 10px 33px;
}

.text-group_90 {
  margin: 1px 0 0 44px;
}

.text_21 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-family: Helvetica, 'Microsoft YaHei', Arial, sans-serif;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 19px;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(51, 212, 157, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 9px;
}

.box_46 {
  width: 335px;
  align-self: center;
  margin-top: 20px;
}

.image-text_72 {
  width: 126px;
}

.block_6 {
  border-radius: 1000px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/27bc2b6055ad49a9929315f3300252d1_mergeImage.png);
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

.text-group_91 {
  margin-top: 1px;
}

.text_23 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(160, 174, 192, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 38px 0 0;
}

.image_8 {
  width: 71px;
  height: 25px;
  margin: 7px 0 10px 35px;
}

.text-group_92 {
  margin: 1px 0 0 49px;
}

.text_25 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 19px;
  margin-right: 2px;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(255, 107, 107, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 4px;
}

.box_47 {
  margin: 22px 21px 0 20px;
}

.block_9 {
  border-radius: 1000px;
  background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/6b122535276c4f859a9fb8940be6adc6_mergeImage.png);
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

.image-text_73 {
  width: 173px;
  margin: 1px 0 0 12px;
}

.text-group_93 {
}

.text_27 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(160, 174, 192, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 9px 0 0;
}

.image_9 {
  width: 71px;
  height: 23px;
  margin: 8px 0 10px 0;
}

.text-group_94 {
  margin: 1px 0 0 58px;
}

.text_29 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 19px;
  margin-right: 1px;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(51, 212, 157, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 4px 0 0 4px;
}

.box_48 {
  margin: 22px 22px 0 20px;
}

.image-text_74 {
  width: 130px;
}

.block_17 {
  background-color: rgba(26, 32, 44, 1);
  border-radius: 1000px;
  margin-bottom: 2px;
}

.image-wrapper_3 {
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPng27ec7624cc11c92331f99acb4f70e218c37df2cf3c6d130b138863fe47c06143)
    100% no-repeat;
  background-size: 100% 100%;
}

.label_7 {
  width: 40px;
  height: 40px;
}

.text-group_95 {
  margin-top: 1px;
}

.text_31 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 19px;
  margin-right: 3px;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(160, 174, 192, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin-top: 4px;
}

.image_10 {
  width: 71px;
  height: 25px;
  margin: 7px 0 10px 24px;
}

.text-group_96 {
  margin: 1px 0 0 53px;
}

.text_33 {
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(237, 242, 247, 1);
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 19px;
  margin-left: 3px;
}

.text_34 {
  overflow-wrap: break-word;
  color: rgba(255, 107, 107, 1);
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin-top: 4px;
}

.block_26 {
  background-color: rgba(22, 22, 22, 1);
  width: 375px;
  margin-top: 14px;
  padding: 16px 0 25px 0;
}

.image-text_75 {
}

.label_14 {
  width: 24px;
  height: 24px;
}

.text-group_54 {
  overflow-wrap: break-word;
  color: rgba(249, 213, 74, 1);
  font-size: 10px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  align-self: center;
  margin-top: 5px;
}

.image-text_76 {
}

.label_15 {
  width: 24px;
  height: 24px;
}

.text-group_55 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  align-self: center;
  margin-top: 5px;
}

.image-text_77 {
}

.label_16 {
  width: 24px;
  height: 24px;
}

.text-group_56 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  align-self: center;
  margin-top: 5px;
}

.image_13 {
  position: absolute;
  left: 346px;
  top: 129px;
  width: 98px;
  height: 50px;
}
