.mssage {
	width: 80px;
	height: 80px;
	top: 80%;
	right: 15px;
	position: fixed;
	z-index: 100
}

.tabbar {
	border-top: 1px solid #ccc
}

.tabbar .imgs {
	width: 25px;
	height: auto
}

.waiting {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh
}

.van-nav-bar__content {
	background: #02b2d6
}

.van-nav-bar__right,
.van-nav-bar__title {
	color: #fff !important
}

.temp3menuac {
	border: none !important;
	background-color: #111a43 !important;
	height: 70px !important
}

.temp3menuac .van-tabbar-item--active {
	background-color: #111a43
}

.temp3menuac:after {
	border: none !important
}

.van-nav-bar__left .van-icon {
	color: #fff !important;
	font-size: 19px
}

.van-nav-bar__text {
	color: #fff !important
}

 

.hide {
	display: none !important
}

.fl {
	float: left
}

.fr {
	float: right
}

.flex-column {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column !important
}

.flex {
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex
}

.column {
	flex-direction: column
}

.flex1 {
	flex: 1
}

.alcenter {
	align-items: center
}

.between {
	justify-content: space-between
}

.around {
	justify-content: space-around
}

.center {
	justify-content: center
}

.tl {
	text-align: left
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.inblock {
	display: inline-block
}

.theme_color {
	color: #f16b7f !important
}

.scroll::-webkit-scrollbar {
	width: 6px;
	background-color: #000
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #2e333c
}

.white {
	color: #fff
}

.w50 {
	width: 50%
}

.nowrap {
	text-overflow: ellipsis;
	white-space: nowrap
}

.ft12 {
	font-size: 12px
}

.ft14 {
	font-size: 14px
}

.ft16 {
	font-size: 16px
}

.ft18 {
	font-size: 18px
}

.ft20 {
	font-size: 20px
}

.ft24 {
	font-size: 24px
}

.ml3 {
	margin-left: 3px
}

.ml5 {
	margin-left: 5px
}

.bg244 {
	background: #f4f4f4
}

.ml40 {
	margin-left: 40px
}

.mt8 {
	margin-top: 8px
}

.mt20 {
	margin-top: 20px
}

.mt30 {
	margin-top: 30px
}

.mt40 {
	margin-top: 40px
}

.mt60 {
	margin-top: 60px
}

.mt50 {
	margin-top: 50px
}

.mr20 {
	margin-right: 20px
}

.mr60 {
	margin-right: 60px
}

.mt3 {
	margin-top: 3px
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.ml10 {
	margin-left: 10px
}

.ml25 {
	margin-left: 25px
}

.mb5 {
	margin-bottom: 5px
}

.mb50 {
	margin-bottom: 50px
}

.mb40 {
	margin-bottom: 40px
}

.mb30 {
	margin-bottom: 30px
}

.mb15 {
	margin-bottom: 15px
}

.ml30 {
	margin-left: 30px
}

.ml20 {
	margin-left: 20px
}

.pdtb5,
.pt5 {
	padding-top: 5px
}

.pdtb5 {
	padding-bottom: 5px
}

.pdlr20 {
	padding-left: 20px;
	padding-right: 20px
}

.pdlr15 {
	padding-left: 15px;
	padding-right: 15px
}

.pdtb20 {
	padding-bottom: 20px
}

.pdt20,
.pdtb20 {
	padding-top: 20px
}

.pdb20 {
	padding-bottom: 20px
}

.pb50 {
	padding-bottom: 50px
}

.pb10 {
	padding-bottom: 10px
}

.pb15 {
	padding-bottom: 15px
}

.w5 {
	width: 5%
}

.w6 {
	width: 6%
}

.w8 {
	width: 8%
}

.w10 {
	width: 10%
}

.w11 {
	width: 11%
}

.w14 {
	width: 14%
}

.w15 {
	width: 15%
}

.w16 {
	width: 16%
}

.currency_title,
.mu-input-suffix-text {
	font-size: 12px !important;
	color: #a7a7a7 !important;
	font-style: normal;
	margin-left: 3px
}

.w20 {
	width: 20%
}

.w25 {
	width: 25%
}

.w30 {
	width: 30%
}

.w12 {
	width: 12%
}

.w18 {
	width: 18%
}

.w90 {
	width: 90%
}

.w100 {
	width: 100%
}

.lodw20 {
	width: 20px
}

.bold {
	font-weight: 700
}

.fColor1 {
	color: #c7cce6
}

.fColor2 {
	color: #637085
}

.fColor3 {
	color: #61688a
}

.titleOneNew {
	font-family: PingFangSC-Medium;
	font-size: 20px;
	color: #262626;
	letter-spacing: 0;
	font-weight: 500
}

.lineNews {
	width: 32px;
	height: 6px;
	background: #000
}

.fColor4 {
	color: #4e546f
}

.fColor10 {
	color: #747d8d
}

.black {
	color: #000
}

.baseColor {
	color: #ffc90c
}

.ceilColor {
	color: #009688
}

.redColor {
	color: #cc4951
}

.red {
	color: #ff494a !important
}

.green {
	color: #35b65a !important
}

.curPer {
	cursor: pointer
}

.contentBK {
	background-color: #000
}

.topshadow {
	box-shadow: 0 3px 6px rgba(0, 0, 0, .1)
}

.ttBk {
	background-color: #1b1e2e
}

.active {
	color: #0081cc
}

.bg-part {
	background-color: #181b2a
}

.radius4 {
	border-radius: 4px
}

.bdb {
	border-bottom: 1px solid #303b4b
}

.baseBtn {
	background-color: #5697f4;
	color: #fff;
	border-radius: 4px
}

.main .baseBtn {
	width: 428px
}

.base {
	color: #ffc90c
}

.mouseDefault {
	cursor: pointer
}

.baseborderBtn,
.baseBtn {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	font-size: 16px;
	cursor: default
}

.back-nav {
	height: 72px;
	background-color: #181b2a;
	line-height: 72px;
	border-radius: 3px
}

.nav-after {
	display: block;
	height: 10px;
	background-color: #262a42
}

.account-content {
	width: 100%;
	min-height: 750px;
	background-color: #181b2a
}

.positionR {
	position: relative
}

.pageBack {
	background-color: #262a42
}

.cololrBlacl {
	color: rgba(0, 0, 0, .9)
}

.bb_shadow {
	box-shadow: 0 5px 5px #1b1e2e
}

.bgwhite {
	background: #fff
}