.login {
    min-height: 100vh;
    position: relative;
    background-color: #0c112d
}

.login .head {
    display: flex;
    padding: 6px 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,91,109,.12549019607843137);
    height: 32px;
    color: #fff
}

.login .head .img1 {
    height: 20px
}

.login .head .langbutt {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background-color: #02b2d6;
    border-radius: 35px
}

.login .head .langbutt .img2 {
    height: 16px;
    margin-right: 5px
}

.login .head .langbutt .text {
    color: #fff;
    font-size: 14px
}

.login .imgb .img1 {
    width: 100%
}

.login .logob {
    text-align: center;
    margin-top: 10px
}

.login .logob .logo {
    width: 90px
}

.login .logob .text {
    color: #04baf7;
    font-size: 20px
}

.login .langb {
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 1;
    padding: 10px;
    background-color: #02b2d6;
    color: #fff
}

.login .langb .list:not(:last-child) {
    margin-bottom: 5px;
    font-size: 14px
}

.login .conb {
    margin: 50px 30px 0;
    padding: 0 10px 20px
}

.login .conb .tab {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px
}

.login .conb .tab .text {
    padding: 0 5px 5px;
    color: #999;
    margin: 0 15px 5px
}

.login .conb .tab .active {
    border-bottom: 2px solid #02b2d6;
    color: #02b2d6
}

.login .conb .inputb {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.login .conb .inputb .text {
    border: 1px solid #dadbde;
    padding: 8px 10px;
    margin: 8px 0;
    border-radius: 6px;
    width: 100%;
	background-color: white;
}

.login .conb .inputb .text:focus {
    border: 1px solid #02b2d6
}

.login .conb .inputb .textb {
    background-color: #fff;
    border-radius: 6px;
    padding: 8px;
    width: 100%;
    margin: 6px 0 15px;
    border: 1px solid #dadbde
}

.login .conb .inputb .textb .text1,.login .conb .inputb .textb .text2 {
    border: none;
    outline: none
}

.login .conb .inputb .textb .text1 {
    width: 28%
}

.login .conb .inputb .textb .text2 {
    width: 70%
}

.login .conb .inputb .text3 {
    border: 1px solid #dadbde;
    outline: none;
    border-radius: 6px;
    padding: 8px;
    width: 100%;
    margin-bottom: 8px
}

.login .conb .inputb .text3:focus {
    border: 1px solid #02b2d6
}

.login .conb .forget {
    text-align: right
}

.login .conb .forget .text {
    font-size: 13px;
    color: #02b2d6
}

.login .conb .buttb {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.login .conb .buttb .butt {
    text-align: center;
    padding: 8px;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    margin: 10px 0
}

.login .conb .buttb .butt:active {
    opacity: .7
}

.login .conb .buttb .butt1 {
    background-color: #02b2d6
}

.login .conb .buttb .butt2 {
    color: #02b2d6;
    font-size: 18px
}

