.myhead3 {
    display: flex;
    padding: 6px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(12,17,45,.12549019607843137);
    height: 32px;
    background-color: #0c112d
}

.myhead3 .imgb {
    width: 30%
}

.myhead3 .img1 {
    height: 20px
}

.myhead3 .text1 {
    color: #fff;
    font-weight: 700;
    width: 40%;
    text-align: center
}

.myhead3 .text2 {
    color: #fff;
    width: 30%;
    text-align: right
}

.Take_btn {
    width: 100%;
    height: 45px;
    background: #02b2d6;
    color: #fff;
    border-radius: 6px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    margin-top: 60px
}

.ChangePswView {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #253341;
    background-size: 100% 100%;
    min-height: 100vh
}

.changePsw_BgView {
    margin: 15px;
    padding: 15px;
    background-color: #0c112d;
    border-radius: 16px
}

.InputView {
    margin: 20px 15px 0 15px;
    align-items: left
}

.input1 {
    padding: 10px 15px;
    width: 90%;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    outline: none;
    border: 1px solid #253341;
    border-radius: 5px;
    background-color: transparent;
    color: #fff
}

.confirmBtnBg {
    margin: 36px 13px 30px
}

.confirmBtn {
    width: 100%;
    height: 50px;
    background: #6e3fcc;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #fff;
    border-radius: 25px;
    border: #6e3fcc
}
