.myhead3 {
    display: flex;
    padding: 6px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(12,17,45,.12549019607843137);
    height: 32px;
    background-color: #0c112d
}

.myhead3 .imgb {
    width: 30%
}

.myhead3 .img1 {
    height: 20px
}

.myhead3 .text1 {
    color: #fff;
    font-weight: 700;
    width: 40%;
    text-align: center
}

.myhead3 .text2 {
    color: #fff;
    width: 30%;
    text-align: right
}

.bg {
    background: #253341;
    width: 100%;
    height: 100vh
}

.bwg_msg {
    color: #ef580d
}

.bord_bottom {
    width: 100%;
    height: 36px;
    line-height: 36px;
    display: flex;
    justify-content: space-between;
    color: #abafc7
}

.border_team {
    background: #02b2d6!important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: #fff;
    line-height: 36px
}

.bwg_content {
    display: flex;
    justify-content: space-between;
    height: 36px;
    font-size: 14px;
    background: #0c112d;
    padding: 0 15px 0 15px
}

.content_team {
    padding: 15px
}

.bo {
    margin-top: 10px
}

.people_count {
    font-size: 26px;
    text-align: center;
    font-weight: 600
}
